<div class="container mt-5">
  <h3 class="mb-5">Nuestros Productos</h3>
  <div class="row">
    <div class="col-sm-4 mt-3">
      <!-- --------------------- -->
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/imagenesPorductos/manguerasbajapresion.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Mangueras de Baja Presión</h5>
        </div>
      </div>
    </div>
    <!-- --------------------- -->
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/imagenesPorductos/manguerasaltapresion.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Mangueras de Alta Presión</h5>
        </div>
      </div>
    </div>
    <!-- --------------------- -->
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/imagenesPorductos/acoples.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Acoples Rápidos</h5>
        </div>
      </div>
    </div>
    <!-- --------------------- -->
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/imagenesPorductos/accesorioshidrulica.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Accesorios Hidráulicos</h5>
        </div>
      </div>
    </div>
    <!-- --------------------- -->
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/imagenesPorductos/conexionesautomaticas.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Conexiones Automaticas</h5>
        </div>
      </div>
    </div>
    <!-- --------------------- -->
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/imagenesPorductos/terminalesalta.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Terminales de Alta Presión</h5>
        </div>
      </div>
    </div>
    <!-- --------------------- -->
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/imagenesPorductos/terminalesbaja.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Terminales de Baja Presión</h5>
        </div>
      </div>
    </div>
    <!-- --------------------- -->
  </div>
</div>
