<div *ngIf="usuario && !cargando; else showLogin">
  <div class="container mt-5">
    <h3>Historial de Ventas</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Monto</th>
          <th scope="col">Productos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of listaVentas">
          <th scope="row">{{ venta.Fecha }}</th>
          <td>{{ venta.Importe | currency }}</td>
          <td>
            <p *ngFor="let producto of venta.Productos">
              <span>{{ producto.Codigo }}</span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #showLogin>
  <div *ngIf="cargando">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!cargando">
    <app-login-admin></app-login-admin>
  </div>
</ng-template>
