<div class="container mt-5">
  <h3 class="mb-5">Trabajos Realizados</h3>

  <div class="row">
    <!-- --------------------- -->
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/central_hidraulica.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Reparación de Central Hidráulica</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img
          src="../../../assets/Fotos Nuevas/linea-hidraulica-en-retrocavadora.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">
            Asistencia y Reemplazo de Líneas Hidráulicas en Obra
          </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="../../../assets/nosotros-foto-3.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            Reparación de Cilindro y Mangueras Varias en Hidrogrúa
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
