<div class="footer">
  <!-- ------------------- -->

  <div class="container">
    <div class="row">
      <!-- ------------------- -->

      <div class="col-sm">
        <h5>Ubicación</h5>
        <iframe
          width="100%"
          height="70%"
          frameborder="0"
          style="border: 0"
          src="https://www.google.com/maps/embed/v1/place?q=34%C2%B027'08.3%22S%2058%C2%B055'20.3%22W&key=AIzaSyD05WT85t_TQylgs6yPmWyc3qxbvTOxiXA"
          allowfullscreen
        ></iframe>
        <p>Colectora Oeste Ramal Pilar Entre Lubo y French</p>
      </div>
      <!-- ------------------- -->

      <div class="col-sm"></div>

      <!-- ------------------- -->

      <div class="col-sm">
        <h5>Contacto</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fas fa-envelope mr-1"></i>Email:
            oleohidraulicanico@gmail.com
          </li>
          <a
            class="list-group-item list-group-item-action"
            href="https://www.instagram.com/oleohidraulicanico/"
          >
            <i class="fab fa-instagram mr-1"></i>Instagram: @oleohidraulicanico
          </a>
          <a
            class="list-group-item list-group-item-action"
            href="https://www.facebook.com/oleohidraulicanicoSA/"
          >
            <i class="fab fa-facebook-square mr-1"></i>Facebook: Oleo Hidraulica
            Nico
          </a>
          <li class="list-group-item">
            <i class="fas fa-phone-alt mr-1"></i>
            Teléfono: 0230-4431502 | 0230-15-4371562
          </li>
        </ul>
      </div>

      <!-- ------------------- -->
    </div>
  </div>

  <!-- ------------------- -->
</div>

<div class="copyright">
  © Oleohidraulica Nico {{ anio }}<span> | Design by Lucas Cifuentes</span>
</div>
