<div *ngIf="usuario; else showLogin">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3 class="my-5">Lista de Prodcutos</h3>
      </div>
      <div class="form-group my-5 col-sm">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar..."
          name="filterCodigo"
          [(ngModel)]="filterCodigo"
        />
      </div>
    </div>
    <div *ngIf="cargando"><app-loading></app-loading></div>
    <div *ngIf="!cargando">
      <div *ngIf="listaVender.length > 0">
        <button
          class="btn btn-success float-right"
          type="button"
          (click)="venderProductos()"
        >
          Vender
        </button>
        <div *ngFor="let lista of listaVender">
          <span class="badge badge-pill badge-info d-inline-block"
            >{{ lista.Codigo
            }}<button
              type="button"
              class="close"
              aria-label="Close"
              (click)="borrarProducto(lista.id)"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </div>
      </div>
      <table class="table table-striped my-2">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descripción</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of ListaProductos | search: filterCodigo">
            <th scope="row">{{ producto.Codigo }}</th>
            <td>{{ producto.Descripcion }}</td>
            <td>{{ producto.Tipo }}</td>
            <td>
              <button
                type="button"
                class="btn btn-info"
                (click)="addToList(producto)"
              >
                Añadir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #showLogin>
  <div *ngIf="cargando">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!cargando">
    <app-login-admin></app-login-admin>
  </div>
</ng-template>
