<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3 class="my-5">Lista de Prodcutos</h3>
    </div>
    <div class="my-5 col-sm">
      <input type="text" class="form-control" placeholder="Buscar..." />
    </div>
  </div>
  <div *ngIf="cargando"><app-loading></app-loading></div>
  <div *ngIf="!cargando">
    <table class="table table-striped my-2">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descripción</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of ListaProductos">
          <th scope="row">{{ producto.Codigo }}</th>
          <td>{{ producto.Descripcion }}</td>
          <td>{{ producto.Tipo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
