<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <div class="card shadow" style="width: 18rem;">
        <img src="../../assets/cilindros.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Reparación de Cilindros</h5>
          <p class="card-text">
            Reparación de Cilindros - Válvulas - Centrales
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card shadow" style="width: 18rem;">
        <img src="../../assets/reparacion.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Reparación y Mantenimiento</h5>
          <p class="card-text">
            Hidráulica - Neumática - Accesorios - Lubricantes - Armado de
            mangueras hidráulica
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card shadow" style="width: 18rem;">
        <img src="../../assets/nosotros.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Nosotros</h5>
          <p class="card-text overflow-auto">
            Nuestro compromiso es ayudar a nuestros clientes en la solución de
            problemas relacionados con la Hidráulica, Neumática, Reparaciones,
            fabricación de flexibles de alta y baja presión en el acto
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
